﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../1366_768_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1366px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_line {
    background-image: url('../feedback_files/u3_line.png');
}

.u3_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1366px;
    height:3px;
}

.u3 {
    position:absolute;
    left:0px;
    top:535px;
    width:1366px;
    height:10px;
    
}

.u4_normal {
    background-image: url('../feedback_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:40px;
    top:40px;
    width:719px;
    height:470px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:725px;
    height:476px;
}

.u5 {
    position:absolute;
    left:2px;
    top:227px;
    width:715px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:800px;
    top:40px;
    width:390px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:796px;
    top:66px;
    width:354px;
    height:153px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../feedback_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:1050px;
    top:276px;
    width:48px;
    height:48px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u9 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../feedback_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:1112px;
    top:276px;
    width:48px;
    height:48px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u11 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../feedback_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:1180px;
    top:276px;
    width:48px;
    height:48px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u13 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../feedback_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:714px;
    top:251px;
    width:48px;
    height:48px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u15 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../feedback_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:36px;
    top:251px;
    width:48px;
    height:48px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u17 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_mouseOver {
    background-image: url('../feedback_files/button_u18_mouseOver.png');
}

.u18_disabled {
    background-image: url('../feedback_files/button_u18_disabled.png');
}

.u18_normal {
    background-image: url('../feedback_files/button_u18_normal.png');
}

.u18_container {
    position:absolute;
    left:796px;
    top:384px;
    width:218px;
    height:61px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:67px;
}

.u19 {
    position:absolute;
    left:2px;
    top:16px;
    width:214px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_mouseOver {
    background-image: url('../feedback_files/button_u20_mouseOver.png');
}

.u20_disabled {
    background-image: url('../feedback_files/button_u18_disabled.png');
}

.u20_normal {
    background-image: url('../feedback_files/button_u18_normal.png');
}

.u20_container {
    position:absolute;
    left:1050px;
    top:384px;
    width:218px;
    height:61px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:67px;
}

.u21 {
    position:absolute;
    left:2px;
    top:16px;
    width:214px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../feedback_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:821px;
    top:396px;
    width:37px;
    height:37px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u23 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../feedback_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:1069px;
    top:392px;
    width:37px;
    height:37px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u25 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:1050px;
    top:232px;
    width:240px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_line {
    background-image: url('../feedback_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:0px;
    top:4px;
    width:486px;
    height:3px;
}

.u27 {
    position:absolute;
    left:782px;
    top:200px;
    width:486px;
    height:10px;
    
}

.u28_line {
    background-image: url('../feedback_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:4px;
    width:486px;
    height:3px;
}

.u28 {
    position:absolute;
    left:782px;
    top:352px;
    width:486px;
    height:10px;
    
}

.u29_mouseOver {
    background-image: url('../feedback_files/button_u29_mouseOver.png');
}

.u29_disabled {
    background-image: url('../feedback_files/button_u29_disabled.png');
}

.u29_normal {
    background-image: url('../feedback_files/button_u29_normal.png');
}

.u29_container {
    position:absolute;
    left:796px;
    top:232px;
    width:218px;
    height:92px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:98px;
}

.u30 {
    position:absolute;
    left:2px;
    top:32px;
    width:214px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../feedback_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:337px;
    top:212px;
    width:126px;
    height:126px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:126px;
}

.u32 {
    position:absolute;
    left:2px;
    top:55px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../feedback_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:40px;
    top:563px;
    width:270px;
    height:176px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:182px;
}

.u34 {
    position:absolute;
    left:2px;
    top:80px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../feedback_files/u33_normal.png');
}

.u35_container {
    position:absolute;
    left:360px;
    top:563px;
    width:270px;
    height:176px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:182px;
}

.u36 {
    position:absolute;
    left:2px;
    top:80px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../feedback_files/u33_normal.png');
}

.u37_container {
    position:absolute;
    left:680px;
    top:563px;
    width:270px;
    height:176px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:182px;
}

.u38 {
    position:absolute;
    left:2px;
    top:80px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

