﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../1366_768_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1366px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../single_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:12px;
    top:8px;
    width:48px;
    height:48px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u4 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u5 {
    position:absolute;
    left:523px;
    top:712px;
    width:324px;
    height:35px;
    overflow:hidden;
}

#pd2u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:324px;
    height:35px;
    
}

.u6_mouseOver {
    background-image: url('../single_files/u6_mouseOver.png');
}

.u6_selected {
    background-image: url('../single_files/u6_selected.png');
}

.u6_normal {
    background-image: url('../single_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:107px;
    height:34px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:40px;
}

.u7 {
    position:absolute;
    left:2px;
    top:8px;
    width:103px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_mouseOver {
    background-image: url('../single_files/u8_mouseOver.png');
}

.u8_normal {
    background-image: url('../single_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:108px;
    top:0px;
    width:107px;
    height:34px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:40px;
}

.u9 {
    position:absolute;
    left:2px;
    top:8px;
    width:103px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../single_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:216px;
    top:0px;
    width:107px;
    height:34px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:40px;
}

.u11 {
    position:absolute;
    left:2px;
    top:8px;
    width:103px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:324px;
    height:35px;
    
}

.u12_mouseOver {
    background-image: url('../single_files/u6_mouseOver.png');
}

.u12_selected {
    background-image: url('../single_files/u6_selected.png');
}

.u12_normal {
    background-image: url('../single_files/u6_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:107px;
    height:34px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:40px;
}

.u13 {
    position:absolute;
    left:2px;
    top:8px;
    width:103px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../single_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:108px;
    top:0px;
    width:107px;
    height:34px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:40px;
}

.u15 {
    position:absolute;
    left:2px;
    top:8px;
    width:103px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_mouseOver {
    background-image: url('../single_files/u16_mouseOver.png');
}

.u16_normal {
    background-image: url('../single_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:216px;
    top:0px;
    width:107px;
    height:34px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:40px;
}

.u17 {
    position:absolute;
    left:2px;
    top:8px;
    width:103px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:324px;
    height:35px;
    
}

.u18_selected {
    background-image: url('../single_files/u6_selected.png');
}

.u18_normal {
    background-image: url('../single_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:0px;
    width:107px;
    height:34px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:40px;
}

.u19 {
    position:absolute;
    left:2px;
    top:8px;
    width:103px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_mouseOver {
    background-image: url('../single_files/u8_mouseOver.png');
}

.u20_normal {
    background-image: url('../single_files/u8_normal.png');
}

.u20_container {
    position:absolute;
    left:108px;
    top:0px;
    width:107px;
    height:34px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:40px;
}

.u21 {
    position:absolute;
    left:2px;
    top:8px;
    width:103px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_mouseOver {
    background-image: url('../single_files/u16_mouseOver.png');
}

.u22_normal {
    background-image: url('../single_files/u16_normal.png');
}

.u22_container {
    position:absolute;
    left:216px;
    top:0px;
    width:107px;
    height:34px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:40px;
}

.u23 {
    position:absolute;
    left:2px;
    top:8px;
    width:103px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u24 {
    position:absolute;
    left:0px;
    top:60px;
    width:1367px;
    height:631px;
    overflow:hidden;
}

#pd2u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:1367px;
    height:631px;
    
}

.u25_normal {
    background-image: url('../single_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1366px;
    height:630px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:636px;
}

.u26 {
    position:absolute;
    left:2px;
    top:307px;
    width:1362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../single_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:503px;
    top:28px;
    width:359px;
    height:270px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:359px;
    height:270px;
}

.u28 {
    position:absolute;
    left:2px;
    top:127px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../single_files/u27_normal.png');
}

.u29_container {
    position:absolute;
    left:923px;
    top:28px;
    width:359px;
    height:270px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:359px;
    height:270px;
}

.u30 {
    position:absolute;
    left:2px;
    top:127px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../single_files/u27_normal.png');
}

.u31_container {
    position:absolute;
    left:83px;
    top:334px;
    width:359px;
    height:270px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:359px;
    height:270px;
}

.u32 {
    position:absolute;
    left:2px;
    top:127px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../single_files/u27_normal.png');
}

.u33_container {
    position:absolute;
    left:503px;
    top:334px;
    width:359px;
    height:270px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:359px;
    height:270px;
}

.u34 {
    position:absolute;
    left:2px;
    top:127px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../single_files/u27_normal.png');
}

.u35_container {
    position:absolute;
    left:923px;
    top:334px;
    width:359px;
    height:270px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:359px;
    height:270px;
}

.u36 {
    position:absolute;
    left:2px;
    top:127px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_container {
    position:absolute;
    left:83px;
    top:28px;
    width:359px;
    height:270px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:359px;
    height:270px;
}

.u38 {
    position:absolute;
    left:2px;
    top:127px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:1367px;
    height:631px;
    
}

.u39_normal {
    background-image: url('../single_files/u25_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1366px;
    height:630px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:636px;
}

.u40 {
    position:absolute;
    left:2px;
    top:307px;
    width:1362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../single_files/u27_normal.png');
}

.u41_container {
    position:absolute;
    left:503px;
    top:28px;
    width:359px;
    height:270px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:359px;
    height:270px;
}

.u42 {
    position:absolute;
    left:2px;
    top:127px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../single_files/u27_normal.png');
}

.u43_container {
    position:absolute;
    left:923px;
    top:28px;
    width:359px;
    height:270px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:359px;
    height:270px;
}

.u44 {
    position:absolute;
    left:2px;
    top:127px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../single_files/u27_normal.png');
}

.u45_container {
    position:absolute;
    left:83px;
    top:334px;
    width:359px;
    height:270px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:359px;
    height:270px;
}

.u46 {
    position:absolute;
    left:2px;
    top:127px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../single_files/u27_normal.png');
}

.u47_container {
    position:absolute;
    left:503px;
    top:334px;
    width:359px;
    height:270px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:359px;
    height:270px;
}

.u48 {
    position:absolute;
    left:2px;
    top:127px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../single_files/u27_normal.png');
}

.u49_container {
    position:absolute;
    left:923px;
    top:334px;
    width:359px;
    height:270px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:359px;
    height:270px;
}

.u50 {
    position:absolute;
    left:2px;
    top:127px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_container {
    position:absolute;
    left:83px;
    top:28px;
    width:359px;
    height:270px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:359px;
    height:270px;
}

.u52 {
    position:absolute;
    left:2px;
    top:127px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:1367px;
    height:631px;
    
}

.u53_normal {
    background-image: url('../single_files/u25_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1366px;
    height:630px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:636px;
}

.u54 {
    position:absolute;
    left:2px;
    top:307px;
    width:1362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../single_files/u27_normal.png');
}

.u55_container {
    position:absolute;
    left:503px;
    top:28px;
    width:359px;
    height:270px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:359px;
    height:270px;
}

.u56 {
    position:absolute;
    left:2px;
    top:127px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../single_files/u27_normal.png');
}

.u57_container {
    position:absolute;
    left:923px;
    top:28px;
    width:359px;
    height:270px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:359px;
    height:270px;
}

.u58 {
    position:absolute;
    left:2px;
    top:127px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../single_files/u27_normal.png');
}

.u59_container {
    position:absolute;
    left:83px;
    top:334px;
    width:359px;
    height:270px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:359px;
    height:270px;
}

.u60 {
    position:absolute;
    left:2px;
    top:127px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../single_files/u27_normal.png');
}

.u61_container {
    position:absolute;
    left:503px;
    top:334px;
    width:359px;
    height:270px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:359px;
    height:270px;
}

.u62 {
    position:absolute;
    left:2px;
    top:127px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../single_files/u27_normal.png');
}

.u63_container {
    position:absolute;
    left:923px;
    top:334px;
    width:359px;
    height:270px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:359px;
    height:270px;
}

.u64 {
    position:absolute;
    left:2px;
    top:127px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_container {
    position:absolute;
    left:83px;
    top:28px;
    width:359px;
    height:270px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:359px;
    height:270px;
}

.u66 {
    position:absolute;
    left:2px;
    top:127px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

