﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../1366_768_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1366px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_line {
    background-image: url('../feedback_coop_files/u3_line.png');
}

.u3_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1366px;
    height:3px;
}

.u3 {
    position:absolute;
    left:0px;
    top:535px;
    width:1366px;
    height:10px;
    
}

.u4_normal {
    background-image: url('../feedback_coop_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:324px;
    top:40px;
    width:719px;
    height:470px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:725px;
    height:476px;
}

.u5 {
    position:absolute;
    left:2px;
    top:227px;
    width:715px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:796px;
    top:66px;
    width:354px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../feedback_coop_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:1050px;
    top:276px;
    width:48px;
    height:48px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u8 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../feedback_coop_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:1112px;
    top:276px;
    width:48px;
    height:48px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u10 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../feedback_coop_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:1180px;
    top:276px;
    width:48px;
    height:48px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u12 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../feedback_coop_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:998px;
    top:251px;
    width:48px;
    height:48px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u14 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../feedback_coop_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:320px;
    top:251px;
    width:48px;
    height:48px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u16 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_mouseOver {
    background-image: url('../feedback_coop_files/button_u17_mouseOver.png');
}

.u17_disabled {
    background-image: url('../feedback_coop_files/button_u17_disabled.png');
}

.u17_normal {
    background-image: url('../feedback_coop_files/button_u17_normal.png');
}

.u17_container {
    position:absolute;
    left:796px;
    top:384px;
    width:218px;
    height:61px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:67px;
}

.u18 {
    position:absolute;
    left:2px;
    top:16px;
    width:214px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_mouseOver {
    background-image: url('../feedback_coop_files/button_u19_mouseOver.png');
}

.u19_disabled {
    background-image: url('../feedback_coop_files/button_u17_disabled.png');
}

.u19_normal {
    background-image: url('../feedback_coop_files/button_u17_normal.png');
}

.u19_container {
    position:absolute;
    left:1050px;
    top:384px;
    width:218px;
    height:61px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:67px;
}

.u20 {
    position:absolute;
    left:2px;
    top:16px;
    width:214px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../feedback_coop_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:821px;
    top:396px;
    width:37px;
    height:37px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u22 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../feedback_coop_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:1069px;
    top:392px;
    width:37px;
    height:37px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u24 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:1050px;
    top:232px;
    width:240px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_line {
    background-image: url('../feedback_coop_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:0px;
    top:4px;
    width:486px;
    height:3px;
}

.u26 {
    position:absolute;
    left:782px;
    top:200px;
    width:486px;
    height:10px;
    
}

.u27_line {
    background-image: url('../feedback_coop_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:0px;
    top:4px;
    width:486px;
    height:3px;
}

.u27 {
    position:absolute;
    left:782px;
    top:352px;
    width:486px;
    height:10px;
    
}

.u28_mouseOver {
    background-image: url('../feedback_coop_files/button_u28_mouseOver.png');
}

.u28_disabled {
    background-image: url('../feedback_coop_files/button_u28_disabled.png');
}

.u28_normal {
    background-image: url('../feedback_coop_files/button_u28_normal.png');
}

.u28_container {
    position:absolute;
    left:796px;
    top:232px;
    width:218px;
    height:92px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:98px;
}

.u29 {
    position:absolute;
    left:2px;
    top:32px;
    width:214px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../feedback_coop_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:621px;
    top:212px;
    width:126px;
    height:126px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:126px;
}

.u31 {
    position:absolute;
    left:2px;
    top:55px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

