﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../1366_768_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1366px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Photo_spy_partly_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:768px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:768px;
}

.u4 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:2601px;
    height:1801px;
    overflow:hidden;
}

#pd0u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:2601px;
    height:1801px;
    
}

.u6_normal {
    background-image: url('../Photo_spy_partly_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:2600px;
    height:1800px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:2600px;
    height:1800px;
}

.u7 {
    position:absolute;
    left:2px;
    top:892px;
    width:2596px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u8 {
    position:absolute;
    left:1060px;
    top:210px;
    width:261px;
    height:123px;
    overflow:hidden;
}

#pd0u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u9_normal {
    background-image: url('../Photo_spy_partly_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:260px;
    height:122px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:128px;
}

.u10 {
    position:absolute;
    left:2px;
    top:53px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u11 {
    position:absolute;
    left:1060px;
    top:210px;
    width:261px;
    height:123px;
    overflow:hidden;
}

#pd10u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u12_normal {
    background-image: url('../Photo_spy_partly_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u13 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd9u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u14_normal {
    background-image: url('../Photo_spy_partly_files/u12_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u15 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd8u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u16_normal {
    background-image: url('../Photo_spy_partly_files/u12_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u17 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd7u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u18_normal {
    background-image: url('../Photo_spy_partly_files/u12_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd6u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u20_normal {
    background-image: url('../Photo_spy_partly_files/u12_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u21 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd5u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u22_normal {
    background-image: url('../Photo_spy_partly_files/u12_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u23 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd4u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u24_normal {
    background-image: url('../Photo_spy_partly_files/u12_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u25 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u26_normal {
    background-image: url('../Photo_spy_partly_files/u12_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u27 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u28_normal {
    background-image: url('../Photo_spy_partly_files/u12_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u29 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u30_normal {
    background-image: url('../Photo_spy_partly_files/u12_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u31 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u32_normal {
    background-image: url('../Photo_spy_partly_files/u12_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Photo_spy_partly_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:768px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u35 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

