﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../1366_768_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1366px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Photo_spy_origin_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:768px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:768px;
}

.u4 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u5 {
    position:absolute;
    left:1060px;
    top:210px;
    width:261px;
    height:123px;
    overflow:hidden;
}

#pd0u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u6_normal {
    background-image: url('../Photo_spy_origin_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:260px;
    height:122px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:128px;
}

.u7 {
    position:absolute;
    left:2px;
    top:53px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u8 {
    position:absolute;
    left:1060px;
    top:210px;
    width:261px;
    height:123px;
    overflow:hidden;
}

#pd10u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u9_normal {
    background-image: url('../Photo_spy_origin_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u10 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd9u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u11_normal {
    background-image: url('../Photo_spy_origin_files/u9_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u12 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd8u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u13_normal {
    background-image: url('../Photo_spy_origin_files/u9_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u14 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd7u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u15_normal {
    background-image: url('../Photo_spy_origin_files/u9_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u16 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd6u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u17_normal {
    background-image: url('../Photo_spy_origin_files/u9_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u18 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd5u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u19_normal {
    background-image: url('../Photo_spy_origin_files/u9_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u20 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd4u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u21_normal {
    background-image: url('../Photo_spy_origin_files/u9_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u22 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u23_normal {
    background-image: url('../Photo_spy_origin_files/u9_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u24 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u25_normal {
    background-image: url('../Photo_spy_origin_files/u9_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u26 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u27_normal {
    background-image: url('../Photo_spy_origin_files/u9_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u28 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u29_normal {
    background-image: url('../Photo_spy_origin_files/u9_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u30 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

