﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../1366_768_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1366px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../feedback_mul_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:60px;
    top:22px;
    width:460px;
    height:352px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:358px;
}

.u4 {
    position:absolute;
    left:2px;
    top:168px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../feedback_mul_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:560px;
    top:22px;
    width:460px;
    height:352px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:358px;
}

.u6 {
    position:absolute;
    left:2px;
    top:168px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../feedback_mul_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:570px;
    top:32px;
    width:440px;
    height:288px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:440px;
    height:288px;
}

.u8 {
    position:absolute;
    left:2px;
    top:136px;
    width:436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../feedback_mul_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:60px;
    top:398px;
    width:460px;
    height:352px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:358px;
}

.u10 {
    position:absolute;
    left:2px;
    top:168px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../feedback_mul_files/u7_normal.png');
}

.u11_container {
    position:absolute;
    left:70px;
    top:408px;
    width:440px;
    height:288px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:440px;
    height:288px;
}

.u12 {
    position:absolute;
    left:2px;
    top:136px;
    width:436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../feedback_mul_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:560px;
    top:398px;
    width:460px;
    height:352px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:358px;
}

.u14 {
    position:absolute;
    left:2px;
    top:168px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../feedback_mul_files/u7_normal.png');
}

.u15_container {
    position:absolute;
    left:570px;
    top:408px;
    width:440px;
    height:288px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:440px;
    height:288px;
}

.u16 {
    position:absolute;
    left:2px;
    top:136px;
    width:436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../feedback_mul_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:1106px;
    top:286px;
    width:48px;
    height:48px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u18 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../feedback_mul_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:1168px;
    top:286px;
    width:48px;
    height:48px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u20 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../feedback_mul_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:1236px;
    top:286px;
    width:48px;
    height:48px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u22 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_mouseOver {
    background-image: url('../feedback_mul_files/button_u23_mouseOver.png');
}

.u23_disabled {
    background-image: url('../feedback_mul_files/button_u23_disabled.png');
}

.u23_normal {
    background-image: url('../feedback_mul_files/button_u23_normal.png');
}

.u23_container {
    position:absolute;
    left:1088px;
    top:407px;
    width:218px;
    height:61px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:67px;
}

.u24 {
    position:absolute;
    left:2px;
    top:16px;
    width:214px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_mouseOver {
    background-image: url('../feedback_mul_files/button_u25_mouseOver.png');
}

.u25_disabled {
    background-image: url('../feedback_mul_files/button_u23_disabled.png');
}

.u25_normal {
    background-image: url('../feedback_mul_files/button_u23_normal.png');
}

.u25_container {
    position:absolute;
    left:1088px;
    top:507px;
    width:218px;
    height:61px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:67px;
}

.u26 {
    position:absolute;
    left:2px;
    top:16px;
    width:214px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../feedback_mul_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:1113px;
    top:419px;
    width:37px;
    height:37px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u28 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../feedback_mul_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:1107px;
    top:515px;
    width:37px;
    height:37px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u30 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:1106px;
    top:242px;
    width:240px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_line {
    background-image: url('../feedback_mul_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:0px;
    top:4px;
    width:290px;
    height:3px;
}

.u32 {
    position:absolute;
    left:1052px;
    top:214px;
    width:290px;
    height:10px;
    
}

.u33_mouseOver {
    background-image: url('../feedback_mul_files/button_u33_mouseOver.png');
}

.u33_disabled {
    background-image: url('../feedback_mul_files/button_u33_disabled.png');
}

.u33_normal {
    background-image: url('../feedback_mul_files/button_u33_normal.png');
}

.u33_container {
    position:absolute;
    left:1088px;
    top:86px;
    width:218px;
    height:92px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:98px;
}

.u34 {
    position:absolute;
    left:2px;
    top:32px;
    width:214px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_line {
    background-image: url('../feedback_mul_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:0px;
    top:4px;
    width:290px;
    height:3px;
}

.u35 {
    position:absolute;
    left:1052px;
    top:360px;
    width:290px;
    height:10px;
    
}

.u36_normal {
    background-image: url('../feedback_mul_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:70px;
    top:320px;
    width:440px;
    height:45px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:446px;
    height:51px;
}

.u37 {
    position:absolute;
    left:2px;
    top:6px;
    width:436px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../feedback_mul_files/u36_normal.png');
}

.u38_container {
    position:absolute;
    left:570px;
    top:320px;
    width:440px;
    height:45px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:446px;
    height:51px;
}

.u39 {
    position:absolute;
    left:2px;
    top:6px;
    width:436px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../feedback_mul_files/u36_normal.png');
}

.u40_container {
    position:absolute;
    left:570px;
    top:696px;
    width:440px;
    height:45px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:446px;
    height:51px;
}

.u41 {
    position:absolute;
    left:2px;
    top:6px;
    width:436px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../feedback_mul_files/u36_normal.png');
}

.u42_container {
    position:absolute;
    left:70px;
    top:696px;
    width:440px;
    height:45px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:446px;
    height:51px;
}

.u43 {
    position:absolute;
    left:2px;
    top:6px;
    width:436px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../feedback_mul_files/u7_normal.png');
}

.u44_container {
    position:absolute;
    left:70px;
    top:32px;
    width:440px;
    height:288px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:440px;
    height:288px;
}

.u45 {
    position:absolute;
    left:2px;
    top:136px;
    width:436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

