﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../1366_768_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1366px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u3 {
    position:absolute;
    left:1060px;
    top:323px;
    width:261px;
    height:123px;
    overflow:hidden;
}

#pd0u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u4_normal {
    background-image: url('../Photo_spy_others_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:260px;
    height:122px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:128px;
}

.u5 {
    position:absolute;
    left:2px;
    top:53px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u6 {
    position:absolute;
    left:1060px;
    top:323px;
    width:261px;
    height:123px;
    overflow:hidden;
}

#pd10u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u7_normal {
    background-image: url('../Photo_spy_others_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u8 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd9u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u9_normal {
    background-image: url('../Photo_spy_others_files/u7_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u10 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd8u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u11_normal {
    background-image: url('../Photo_spy_others_files/u7_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u12 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd7u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u13_normal {
    background-image: url('../Photo_spy_others_files/u7_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u14 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd6u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u15_normal {
    background-image: url('../Photo_spy_others_files/u7_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u16 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd5u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u17_normal {
    background-image: url('../Photo_spy_others_files/u7_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u18 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd4u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u19_normal {
    background-image: url('../Photo_spy_others_files/u7_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u20 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u21_normal {
    background-image: url('../Photo_spy_others_files/u7_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u22 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u23_normal {
    background-image: url('../Photo_spy_others_files/u7_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u24 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u25_normal {
    background-image: url('../Photo_spy_others_files/u7_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u26 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u27_normal {
    background-image: url('../Photo_spy_others_files/u7_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u28 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Photo_spy_others_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:60px;
    top:22px;
    width:460px;
    height:352px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:358px;
}

.u30 {
    position:absolute;
    left:2px;
    top:168px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Photo_spy_others_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:70px;
    top:32px;
    width:440px;
    height:288px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:440px;
    height:288px;
}

.u32 {
    position:absolute;
    left:2px;
    top:136px;
    width:436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Photo_spy_others_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:560px;
    top:22px;
    width:460px;
    height:352px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:358px;
}

.u34 {
    position:absolute;
    left:2px;
    top:168px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Photo_spy_others_files/u31_normal.png');
}

.u35_container {
    position:absolute;
    left:570px;
    top:32px;
    width:440px;
    height:288px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:440px;
    height:288px;
}

.u36 {
    position:absolute;
    left:2px;
    top:136px;
    width:436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Photo_spy_others_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:60px;
    top:398px;
    width:460px;
    height:352px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:358px;
}

.u38 {
    position:absolute;
    left:2px;
    top:168px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Photo_spy_others_files/u31_normal.png');
}

.u39_container {
    position:absolute;
    left:70px;
    top:408px;
    width:440px;
    height:288px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:440px;
    height:288px;
}

.u40 {
    position:absolute;
    left:2px;
    top:136px;
    width:436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Photo_spy_others_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:560px;
    top:398px;
    width:460px;
    height:352px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:358px;
}

.u42 {
    position:absolute;
    left:2px;
    top:168px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Photo_spy_others_files/u31_normal.png');
}

.u43_container {
    position:absolute;
    left:570px;
    top:408px;
    width:440px;
    height:288px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:440px;
    height:288px;
}

.u44 {
    position:absolute;
    left:2px;
    top:136px;
    width:436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Photo_spy_others_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:70px;
    top:320px;
    width:440px;
    height:45px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:446px;
    height:51px;
}

.u46 {
    position:absolute;
    left:2px;
    top:6px;
    width:436px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Photo_spy_others_files/u45_normal.png');
}

.u47_container {
    position:absolute;
    left:570px;
    top:320px;
    width:440px;
    height:45px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:446px;
    height:51px;
}

.u48 {
    position:absolute;
    left:2px;
    top:6px;
    width:436px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Photo_spy_others_files/u45_normal.png');
}

.u49_container {
    position:absolute;
    left:570px;
    top:696px;
    width:440px;
    height:45px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:446px;
    height:51px;
}

.u50 {
    position:absolute;
    left:2px;
    top:6px;
    width:436px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Photo_spy_others_files/u45_normal.png');
}

.u51_container {
    position:absolute;
    left:70px;
    top:696px;
    width:440px;
    height:45px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:446px;
    height:51px;
}

.u52 {
    position:absolute;
    left:2px;
    top:6px;
    width:436px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

