﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../1366_768_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1366px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../last_5_seconds_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1060px;
    height:769px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1060px;
    height:769px;
}

.u4 {
    position:absolute;
    left:2px;
    top:376px;
    width:1056px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u5 {
    position:absolute;
    left:1080px;
    top:210px;
    width:261px;
    height:121px;
    overflow:hidden;
}

#pd0u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:121px;
    
}

.u6_normal {
    background-image: url('../last_5_seconds_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:260px;
    height:120px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u7 {
    position:absolute;
    left:2px;
    top:52px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u8 {
    position:absolute;
    left:1080px;
    top:210px;
    width:261px;
    height:123px;
    overflow:hidden;
}

#pd5u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u9_normal {
    background-image: url('../last_5_seconds_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u10 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd4u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u11_normal {
    background-image: url('../last_5_seconds_files/u9_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u12 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u13_normal {
    background-image: url('../last_5_seconds_files/u9_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u14 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u15_normal {
    background-image: url('../last_5_seconds_files/u9_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u16 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u17_normal {
    background-image: url('../last_5_seconds_files/u9_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u18 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:123px;
    
}

.u19_normal {
    background-image: url('../last_5_seconds_files/u9_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:1px;
    width:260px;
    height:120px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u20 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../last_5_seconds_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:1304px;
    top:12px;
    width:48px;
    height:48px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u22 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:1367px;
    height:769px;
    overflow:hidden;
}

#pd0u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:1367px;
    height:769px;
    
}

.u24_normal {
    background-image: url('../quit_files/u10_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1366px;
    height:768px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:774px;
}

.u25 {
    position:absolute;
    left:2px;
    top:376px;
    width:1362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u26 {
    position:absolute;
    left:368px;
    top:250px;
    width:631px;
    height:211px;
    overflow:hidden;
}

#pd0u26 {
    position:absolute;
    left:0px;
    top:0px;
    width:631px;
    height:211px;
    
}

.u27_normal {
    background-image: url('../quit_files/u13_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:0px;
    width:630px;
    height:210px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:636px;
    height:216px;
}

.u28 {
    position:absolute;
    left:2px;
    top:97px;
    width:626px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:74px;
    top:30px;
    width:310px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_mouseOver {
    background-image: url('../quit_files/button_u16_mouseOver.png');
}

.u30_disabled {
    background-image: url('../quit_files/button_u16_disabled.png');
}

.u30_normal {
    background-image: url('../quit_files/button_u16_normal.png');
}

.u30_container {
    position:absolute;
    left:104px;
    top:116px;
    width:188px;
    height:61px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:194px;
    height:67px;
}

.u31 {
    position:absolute;
    left:2px;
    top:16px;
    width:184px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_mouseOver {
    background-image: url('../quit_files/button_u18_mouseOver.png');
}

.u32_disabled {
    background-image: url('../quit_files/button_u16_disabled.png');
}

.u32_normal {
    background-image: url('../quit_files/button_u18_normal.png');
}

.u32_container {
    position:absolute;
    left:338px;
    top:116px;
    width:188px;
    height:61px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:194px;
    height:67px;
}

.u33 {
    position:absolute;
    left:2px;
    top:16px;
    width:184px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../quit_files/u20_normal.png');
}

.u34_container {
    position:absolute;
    left:18px;
    top:14px;
    width:48px;
    height:48px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u35 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_line {
    background-image: url('../quit_files/u22_line.png');
}

.u36_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u36 {
    position:absolute;
    left:0px;
    top:80px;
    width:630px;
    height:10px;
    
}

.u37_line {
    background-image: url('../quit_files/u23_line.png');
}

.u37_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u37 {
    position:absolute;
    left:0px;
    top:79px;
    width:630px;
    height:10px;
    
}

.u38_line {
    background-image: url('../quit_files/u24_line.png');
}

.u38_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u38 {
    position:absolute;
    left:0px;
    top:78px;
    width:630px;
    height:10px;
    
}

