﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../1366_768_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1366px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../view_others_mul_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1367px;
    height:769px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1367px;
    height:769px;
}

.u4 {
    position:absolute;
    left:2px;
    top:376px;
    width:1363px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../view_others_mul_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1366px;
    height:768px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:774px;
}

.u6 {
    position:absolute;
    left:2px;
    top:376px;
    width:1362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../view_others_mul_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:218px;
    top:40px;
    width:929px;
    height:607px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:935px;
    height:613px;
}

.u8 {
    position:absolute;
    left:2px;
    top:296px;
    width:925px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../view_others_mul_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:606px;
    top:262px;
    width:155px;
    height:155px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:155px;
    height:155px;
}

.u10 {
    position:absolute;
    left:2px;
    top:70px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../view_others_mul_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:1114px;
    top:18px;
    width:52px;
    height:52px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:52px;
}

.u12 {
    position:absolute;
    left:2px;
    top:18px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../view_others_mul_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:1140px;
    top:306px;
    width:66px;
    height:66px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:66px;
}

.u14 {
    position:absolute;
    left:2px;
    top:25px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../view_others_mul_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:149px;
    top:316px;
    width:66px;
    height:66px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:66px;
}

.u16 {
    position:absolute;
    left:2px;
    top:25px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../view_others_mul_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:218px;
    top:657px;
    width:929px;
    height:63px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:935px;
    height:69px;
}

.u18 {
    position:absolute;
    left:2px;
    top:24px;
    width:925px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:218px;
    top:674px;
    width:213px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:1079px;
    top:674px;
    width:58px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u21 {
    position:absolute;
    left:1020px;
    top:666px;
    width:50px;
    height:50px;
    overflow:hidden;
}

#pd1u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
    
}

.u22_normal {
    background-image: url('../view_others_mul_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:49px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:49px;
}

.u23 {
    position:absolute;
    left:2px;
    top:16px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
    
}

.u24_normal {
    background-image: url('../view_others_mul_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u25 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

