﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../1366_768_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1366px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../photo_display_mul_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:2px;
    width:1060px;
    height:766px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1060px;
    height:766px;
}

.u4 {
    position:absolute;
    left:2px;
    top:375px;
    width:1056px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../photo_display_mul_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:1080px;
    top:211px;
    width:260px;
    height:120px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:126px;
}

.u6 {
    position:absolute;
    left:2px;
    top:-1px;
    width:256px;
    height:122px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../photo_display_mul_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:1304px;
    top:12px;
    width:48px;
    height:48px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u8 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u9 {
    position:absolute;
    left:0px;
    top:0px;
    width:1367px;
    height:769px;
    overflow:hidden;
}

#pd0u9 {
    position:absolute;
    left:0px;
    top:0px;
    width:1367px;
    height:769px;
    
}

.u10_normal {
    background-image: url('../quit_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1366px;
    height:768px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:774px;
}

.u11 {
    position:absolute;
    left:2px;
    top:376px;
    width:1362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u12 {
    position:absolute;
    left:368px;
    top:250px;
    width:631px;
    height:211px;
    overflow:hidden;
}

#pd0u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:631px;
    height:211px;
    
}

.u13_normal {
    background-image: url('../quit_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:0px;
    width:630px;
    height:210px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:636px;
    height:216px;
}

.u14 {
    position:absolute;
    left:2px;
    top:97px;
    width:626px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:74px;
    top:30px;
    width:310px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_mouseOver {
    background-image: url('../quit_files/button_u16_mouseOver.png');
}

.u16_disabled {
    background-image: url('../quit_files/button_u16_disabled.png');
}

.u16_normal {
    background-image: url('../quit_files/button_u16_normal.png');
}

.u16_container {
    position:absolute;
    left:104px;
    top:116px;
    width:188px;
    height:61px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:194px;
    height:67px;
}

.u17 {
    position:absolute;
    left:2px;
    top:16px;
    width:184px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_mouseOver {
    background-image: url('../quit_files/button_u18_mouseOver.png');
}

.u18_disabled {
    background-image: url('../quit_files/button_u16_disabled.png');
}

.u18_normal {
    background-image: url('../quit_files/button_u18_normal.png');
}

.u18_container {
    position:absolute;
    left:338px;
    top:116px;
    width:188px;
    height:61px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:194px;
    height:67px;
}

.u19 {
    position:absolute;
    left:2px;
    top:16px;
    width:184px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../quit_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:18px;
    top:14px;
    width:48px;
    height:48px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u21 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_line {
    background-image: url('../quit_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u22 {
    position:absolute;
    left:0px;
    top:80px;
    width:630px;
    height:10px;
    
}

.u23_line {
    background-image: url('../quit_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u23 {
    position:absolute;
    left:0px;
    top:79px;
    width:630px;
    height:10px;
    
}

.u24_line {
    background-image: url('../quit_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u24 {
    position:absolute;
    left:0px;
    top:78px;
    width:630px;
    height:10px;
    
}

