﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../1366_768_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1366px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u3 {
    position:absolute;
    left:590px;
    top:160px;
    width:211px;
    height:308px;
    overflow:hidden;
}

#pd2u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:211px;
    height:308px;
    
}

.u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:210px;
    height:307px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:211px;
    height:308px;
    
}

.u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:210px;
    height:307px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:211px;
    height:308px;
    
}

.u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:210px;
    height:307px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

