﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../1366_768_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1366px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_mouseDown {
    background-image: url('../Home_screen_files/single_u3_mouseDown.png');
}

.u3_normal {
    background-image: url('../Home_screen_files/single_u3_normal.png');
}

.u3_container {
    position:absolute;
    left:967px;
    top:144px;
    width:270px;
    height:50px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:56px;
}

.u4 {
    position:absolute;
    left:2px;
    top:11px;
    width:266px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Home_screen_files/my_work_u5_normal.png');
}

.u5_container {
    position:absolute;
    left:103px;
    top:580px;
    width:320px;
    height:188px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:194px;
}

.u6 {
    position:absolute;
    left:2px;
    top:72px;
    width:316px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Home_screen_files/my_work_u5_normal.png');
}

.u7_container {
    position:absolute;
    left:523px;
    top:580px;
    width:320px;
    height:188px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:194px;
}

.u8 {
    position:absolute;
    left:2px;
    top:72px;
    width:316px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Home_screen_files/my_work_u5_normal.png');
}

.u9_container {
    position:absolute;
    left:943px;
    top:580px;
    width:320px;
    height:188px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:194px;
}

.u10 {
    position:absolute;
    left:2px;
    top:72px;
    width:316px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_mouseDown {
    background-image: url('../Home_screen_files/single_u3_mouseDown.png');
}

.u11_normal {
    background-image: url('../Home_screen_files/single_u3_normal.png');
}

.u11_container {
    position:absolute;
    left:967px;
    top:224px;
    width:270px;
    height:50px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:56px;
}

.u12 {
    position:absolute;
    left:2px;
    top:11px;
    width:266px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_mouseDown {
    background-image: url('../Home_screen_files/single_u3_mouseDown.png');
}

.u13_normal {
    background-image: url('../Home_screen_files/single_u3_normal.png');
}

.u13_container {
    position:absolute;
    left:967px;
    top:304px;
    width:270px;
    height:50px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:56px;
}

.u14 {
    position:absolute;
    left:2px;
    top:11px;
    width:266px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_mouseDown {
    background-image: url('../Home_screen_files/single_u3_mouseDown.png');
}

.u15_normal {
    background-image: url('../Home_screen_files/single_u3_normal.png');
}

.u15_container {
    position:absolute;
    left:967px;
    top:384px;
    width:270px;
    height:50px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:56px;
}

.u16 {
    position:absolute;
    left:2px;
    top:11px;
    width:266px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:100px;
    top:202px;
    width:768px;
    height:258px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Home_screen_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:470px;
    top:0px;
    width:410px;
    height:80px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:416px;
    height:86px;
}

.u19 {
    position:absolute;
    left:2px;
    top:32px;
    width:406px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Home_screen_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:808px;
    top:14px;
    width:48px;
    height:48px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u21 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Home_screen_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:1304px;
    top:12px;
    width:48px;
    height:48px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u23 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:470px;
    top:22px;
    width:338px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../Home_screen_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1366px;
    height:3px;
}

.u25 {
    position:absolute;
    left:0px;
    top:531px;
    width:1366px;
    height:10px;
    
}

