﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../1366_768_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1366px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Canvas_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:10px;
    top:50px;
    width:181px;
    height:630px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:636px;
}

.u4 {
    position:absolute;
    left:2px;
    top:307px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Canvas_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:16px;
    top:632px;
    width:48px;
    height:48px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u6 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Canvas_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:82px;
    top:632px;
    width:48px;
    height:48px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u8 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Canvas_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:191px;
    top:0px;
    width:1175px;
    height:768px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1181px;
    height:774px;
}

.u10 {
    position:absolute;
    left:2px;
    top:376px;
    width:1171px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_mouseOver {
    background-image: url('../Canvas_files/button_u11_mouseOver.png');
}

.u11_disabled {
    background-image: url('../Canvas_files/button_u11_disabled.png');
}

.u11_normal {
    background-image: url('../Canvas_files/button_u11_normal.png');
}

.u11_container {
    position:absolute;
    left:27px;
    top:76px;
    width:116px;
    height:44px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:50px;
}

.u12 {
    position:absolute;
    left:2px;
    top:8px;
    width:112px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u13 {
    position:absolute;
    left:453px;
    top:22px;
    width:461px;
    height:40px;
    overflow:hidden;
}

#pd1u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:461px;
    height:40px;
    
}

.u14_disabled {
    background-image: url('../Canvas_files/button_u14_disabled.png');
}

.u14_normal {
    background-image: url('../Canvas_files/button_u14_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:0px;
    width:460px;
    height:40px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:46px;
}

.u15 {
    position:absolute;
    left:2px;
    top:12px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:461px;
    height:40px;
    
}

.u16_disabled {
    background-image: url('../Canvas_files/button_u14_disabled.png');
}

.u16_normal {
    background-image: url('../Canvas_files/button_u16_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:0px;
    width:460px;
    height:40px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:46px;
}

.u17 {
    position:absolute;
    left:2px;
    top:12px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u18 {
    position:absolute;
    left:0px;
    top:0px;
    width:1367px;
    height:769px;
    overflow:hidden;
}

#pd0u18 {
    position:absolute;
    left:0px;
    top:0px;
    width:1367px;
    height:769px;
    
}

.u19_normal {
    background-image: url('../quit_files/u10_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1366px;
    height:768px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:774px;
}

.u20 {
    position:absolute;
    left:2px;
    top:376px;
    width:1362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u21 {
    position:absolute;
    left:368px;
    top:250px;
    width:631px;
    height:211px;
    overflow:hidden;
}

#pd0u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:631px;
    height:211px;
    
}

.u22_normal {
    background-image: url('../quit_files/u13_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:0px;
    width:630px;
    height:210px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:636px;
    height:216px;
}

.u23 {
    position:absolute;
    left:2px;
    top:97px;
    width:626px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:74px;
    top:30px;
    width:310px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_mouseOver {
    background-image: url('../quit_files/button_u16_mouseOver.png');
}

.u25_disabled {
    background-image: url('../quit_files/button_u16_disabled.png');
}

.u25_normal {
    background-image: url('../quit_files/button_u16_normal.png');
}

.u25_container {
    position:absolute;
    left:104px;
    top:116px;
    width:188px;
    height:61px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:194px;
    height:67px;
}

.u26 {
    position:absolute;
    left:2px;
    top:16px;
    width:184px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_mouseOver {
    background-image: url('../quit_files/button_u18_mouseOver.png');
}

.u27_disabled {
    background-image: url('../quit_files/button_u16_disabled.png');
}

.u27_normal {
    background-image: url('../quit_files/button_u18_normal.png');
}

.u27_container {
    position:absolute;
    left:338px;
    top:116px;
    width:188px;
    height:61px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:194px;
    height:67px;
}

.u28 {
    position:absolute;
    left:2px;
    top:16px;
    width:184px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../quit_files/u20_normal.png');
}

.u29_container {
    position:absolute;
    left:18px;
    top:14px;
    width:48px;
    height:48px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u30 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_line {
    background-image: url('../quit_files/u22_line.png');
}

.u31_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u31 {
    position:absolute;
    left:0px;
    top:80px;
    width:630px;
    height:10px;
    
}

.u32_line {
    background-image: url('../quit_files/u23_line.png');
}

.u32_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u32 {
    position:absolute;
    left:0px;
    top:79px;
    width:630px;
    height:10px;
    
}

.u33_line {
    background-image: url('../quit_files/u24_line.png');
}

.u33_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u33 {
    position:absolute;
    left:0px;
    top:78px;
    width:630px;
    height:10px;
    
}

.u35 {
    position:absolute;
    left:650px;
    top:29px;
    width:150px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

